{% extends "base.html" %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'taxi:driver-create' %}" class="btn-primary">
            Create New Driver
        </a>
    </div>

    <h1>Driver List</h1>

    {% if driver_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">License number</th>
          <th scope="col" class="relative">
            <span class="sr-only">Delete</span>
          </th>
        </tr>
      </thead>
      <tbody>
    {% for driver in driver_list %}
      <tr>
        <td>{{ driver.id }}</td>
        <td><a href="{{ driver.get_absolute_url }}">{{ driver.username }} {% if user == driver %} <span class="me-indicator">(Me)</span>{% endif %}</a></td>
        <td>{{ driver.first_name }}</td>
        <td>{{ driver.last_name }}</td>
        <td>{{ driver.license_number }}</td>
        <td>
          <a href="{% url 'taxi:driver-delete' pk=driver.id %}" class="action-link-delete">Delete</a>
        </td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="no-drivers-message">There are no drivers in the service.</p>
    {% endif %}
{% endblock %}
